$mainColor: #00BCD4;

body {
  font-family: 'Roboto', sans-serif;
}

.search-bar {
  text-align: center;
}

.song-length {
  color: white;
  margin: 15px;
}

.page-title {
  color: $mainColor;
}

.sub-title {
  color: $mainColor;
}

.main-photo {
  margin: 25px;
}
